__pycache__/
*.py[cod]
.venv/
venv/
.pytest_cache/
.coverage
htmlcov/
.env
*.tfstate*
.terraform/
tests/fixtures/*.jpg
.DS_Store
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfvars
.ruff_chache/
coverage.xml
.coverage
htmlcov/
